<section id="pokemonDetailSection" class="section container v-gap">
    <div class="box">
        <div class="pokemon-card-detail" *ngIf="pokemonCard">
            <app-pokemon-detail-header [types]="pokemonCard.types" [name]="pokemonCard.name">
            </app-pokemon-detail-header>
            <div class="content">
                <div class="image-box">
                    <img class="pokemon-image" [src]="pokemonCard.imageUrlHiRes" [alt]="pokemonCard.name"
                        [title]="pokemonCard.name">
                </div>
                <div class="description-box">
                    <app-pokemon-detail-description-row *ngIf="pokemonCard.name" [title]="'Name:'"
                        [value]="pokemonCard.name"></app-pokemon-detail-description-row>
                    <app-pokemon-detail-description-row *ngIf="pokemonCard.id" [title]="'ID:'" [value]="pokemonCard.id">
                    </app-pokemon-detail-description-row>
                    <app-pokemon-detail-description-row *ngIf="pokemonCard.types" [title]="'Type:'"
                        [value]="pokemonCard.types"></app-pokemon-detail-description-row>
                    <app-pokemon-detail-description-row *ngIf="pokemonCard.text" [title]="'Text:'"
                        [value]="pokemonCard.text"></app-pokemon-detail-description-row>
                    <app-pokemon-detail-description-row *ngIf="pokemonCard.attacks  && pokemonCard.attacks.length > 0"
                        [title]="'Attacks'" [listValues]="pokemonCard.attacks"></app-pokemon-detail-description-row>
                    <app-pokemon-detail-description-row
                        *ngIf="pokemonCard.resistances  && pokemonCard.resistances.length > 0" [title]="'Resistances'"
                        [listValues]="pokemonCard.resistances"></app-pokemon-detail-description-row>
                    <app-pokemon-detail-description-row
                        *ngIf="pokemonCard.weaknesses  && pokemonCard.weaknesses.length > 0" [title]="'Weaknesses'"
                        [listValues]="pokemonCard.weaknesses"></app-pokemon-detail-description-row>
                </div>
            </div>
        </div>
    </div>
</section>