@import '../../../assets/sass/media'
@import '../../../assets/sass/mixin'

:host
    .section
        .pokemon-card-detail
            margin: 0 auto
            width: 100%
            @include box-shadow
            border-radius: 3px

            .content
                padding: 30px

                .image-box
                    margin: 0 auto
                    display: block
                    max-width: 370px
                    flex: 1

                    .pokemon-image
                        width: 100%
                        margin-bottom: 20px

                .description-box
                    flex: 1

    @media only screen and (min-width: $tablet)
        .section
            .pokemon-card-detail
                .content
                    display: flex

                    .image-box
                        margin: 0 50px 0 0
