<section id="pokemonListSection" class="section v-gap container">
    <div class="box">
        <app-search-bar></app-search-bar>
        <ng-container *ngIf="renderedPokemonCardList && renderedPokemonCardList.length > 0; else emptyList">
            <ul class="pokemon-card-list" infiniteScroll [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="300"
                (scrolled)="loadMorePokemonCards()">
                <li class="pokemon-card" *ngFor="let pokemonCard of renderedPokemonCardList">
                    <app-pokemon-card *ngIf="pokemonCard" [pokemonCard]="pokemonCard"></app-pokemon-card>
                </li>
            </ul>
        </ng-container>
        <ng-template #emptyList>
            <p class="error error-not-found">Não foi possível encontrar nenhum pokémon. Tente novamente.</p>
        </ng-template>
    </div>
</section>