$normal-color: #b7956f
$fighting-color: #ff6362
$flying-color: #828cc9
$poison-color: #b464a1
$ground-color: #e7b465
$rock-color: #aaa063
$bug-color: #97ab3c
$ghost-color: #846d97
$steel-color: #8cb4be
$fire-color: #fc7851
$water-color: #4fc8db
$grass-color: #79c85b
$lightning-color: #ffc80b
$psychic-color: #ff638c
$ice-color: #6edcd3
$dragon-color: #5a64ac
$darkness-color: #5a504f
$fairy-color: #fe78aa

.bg-type
    background-color: #b5b5b5

    &.normal
        background-color: $normal-color

    &.fighting
        background-color: $fighting-color

    &.flying
        background-color: $flying-color

    &.poison
        background-color: $poison-color

    &.ground
        background-color: $ground-color

    &.rock
        background-color: $rock-color

    &.bug
        background-color: $bug-color

    &.ghost
        background-color: $ghost-color

    &.steel
        background-color: $steel-color

    &.fire
        background-color: $fire-color

    &.water
        background-color: $water-color

    &.grass
        background-color: $grass-color

    &.lightning
        background-color: $lightning-color

    &.psychic
        background-color: $psychic-color

    &.ice
        background-color: $ice-color

    &.dragon
        background-color: $dragon-color

    &.fairy
        background-color: $fairy-color

    &.darkness
        background-color: $darkness-color
